<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>NodeJS - Nexmo SMS</title>
</head>
<body>
  <div class="container">
    <h2>Send SMS Message</h2>
    <form class="pt-3">
      <div class="form-group">
        <label for="number">Phone number</label>
        <input type="tel" name="number" id="number" class="form-control">
      </div>
      <div class="form-group">
        <label for="msg">Text message</label>
        <textarea type="text" name="msg" id="msg" class="form-control"></textarea>
      </div>
    </form>
    <button type="button" id="button" class="btn btn-info">Submit</button>
    <p class="response"></p>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
</body>
</html>